/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.09.2015, 19:27:32
    Author     : DamirDiz
*/
@import url(http://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700);
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: "Open Sans", sans-serif; }

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
