/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
/* ==========================================================================
Mixins
========================================================================== */
footer {
  border-top: 1px solid #E8E7E5;
  padding: 30px 0px 30px 0px;
  background-color: #FBFAF7;
  font-size: 13px;
  line-height: 23px; }
  footer .footer-madein {
    color: #AB9F8D;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 1px; }
    footer .footer-madein span {
      color: #B9CB85; }
  footer .footer-reference {
    color: #FBFBFB;
    font-weight: 300; }
    footer .footer-reference .footer-logo {
      vertical-align: middle;
      background-image: url(../img/gartlnlogo_monochrome.svg);
      background-size: 80px 130px;
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 70px;
      height: 30px; }
    footer .footer-reference .footer-copyright {
      margin-bottom: 40px; }
  footer .footer-title {
    color: #AB9F8D;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: inherit; }
  footer .footer-link {
    color: #B9CB85;
    text-transform: none;
    font-weight: 300; }
    footer .footer-link a {
      color: #B9CB85; }
      footer .footer-link a:hover {
        color: #9BAB71; }
