/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.09.2015, 13:15:57
    Author     : DamirDiz
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
/* ==========================================================================
Mixins
========================================================================== */
.project-box-container {
  margin: 0 auto;
  max-width: 1180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px; }

.project-box {
  box-sizing: border-box;
  max-width: 386.66667px;
  min-width: 200px;
  background: #F7F7F7;
  height: 500px;
  font-size: 12px;
  margin: 10px; }
  .project-box h1, .project-box h2 {
    font-size: 26px;
    line-height: 140%; }
  .project-box h1 {
    font-family: Sunday;
    margin: 0; }
  .project-box h2 {
    font-family: Serendity;
    margin: 7px 0 0 0; }

.project-box-header {
  height: 250px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  color: white; }

.project-box-header-imageholder {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(5px) brightness(90%);
          filter: blur(5px) brightness(90%);
  z-index: 1; }

.project-box-header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3; }

.project-box-header-content-holder {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px 20px; }

.project-box-header-category {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2em;
  line-height: 2.2em;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 13px;
  text-align: right;
  z-index: 2;
  font-weight: 400; }

.project-box-body {
  color: #303030; }

.project-box-body-description {
  padding: 15px 13px;
  line-height: 170%; }
