/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
/* ==========================================================================
Mixins
========================================================================== */
.project-nav {
  border-top: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de; }
  .project-nav .project-nav-holder {
    display: table;
    margin: 0 auto; }
  .project-nav ul {
    list-style: none;
    display: inline-block; }
    .project-nav ul li.project-nav-item {
      box-sizing: border-box;
      padding: 25px 15px 15px 15px;
      display: inline-block;
      list-style: none;
      font-size: 20px;
      font-weight: 400; }
      .project-nav ul li.project-nav-item.active {
        border-bottom: 5px solid #49D964; }

.todo-count {
  background-color: #D0021B;
  font-weight: 400;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px; }
