/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
/* ==========================================================================
Mixins
========================================================================== */
.project-detail {
  display: none; }
  .project-detail.active {
    display: block; }

.project-detail-description {
  width: 700px;
  margin: 0 auto; }
  .project-detail-description .descriptionElement {
    padding: 30px 10px 0px 10px; }
  .project-detail-description p {
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 30px;
    font-weight: 200; }
  .project-detail-description figure {
    position: relative; }
    .project-detail-description figure .imageHolder {
      max-width: 630px;
      max-height: 354px;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .project-detail-description figure .imageHolder img {
        margin: 0 auto;
        max-height: inherit;
        max-width: inherit; }
    .project-detail-description figure .imageCaption {
      position: absolute;
      left: -172px;
      width: 150px;
      top: 30px;
      text-align: right;
      font-size: 13px;
      line-height: 1.4;
      color: #929292; }
  .project-detail-description .project-detail-edit {
    margin: 20px 0px; }
    .project-detail-description .project-detail-edit a, .project-detail-description .project-detail-edit a:hover {
      color: #000; }
    .project-detail-description .project-detail-edit ul {
      list-style: none;
      display: inline-block;
      width: 100%; }
      .project-detail-description .project-detail-edit ul li {
        border: 3px dashed #CCC;
        border-radius: 20px;
        padding: 20px;
        cursor: pointer;
        box-sizing: border-box;
        display: inline-block;
        list-style: none;
        text-align: center;
        width: 300px;
        margin: 20px;
        font-size: 20px;
        font-weight: 400; }
        .project-detail-description .project-detail-edit ul li:hover {
          background-color: #EEE; }
    .project-detail-description .project-detail-edit .project-detail-edit-image {
      margin: 0 auto;
      display: block;
      width: 80px;
      height: 80px; }

.project-detail-updates {
  width: 700px;
  margin: 30px auto; }
  .project-detail-updates .updates-timeline {
    position: relative; }
    .project-detail-updates .updates-timeline::before {
      position: absolute;
      top: 0px;
      bottom: 10px;
      left: 33px;
      width: 4px;
      background: #C3C3C3;
      content: '';
      z-index: -1; }
    .project-detail-updates .updates-timeline .updates-timeline-block {
      display: block;
      margin-bottom: 20px; }
      .project-detail-updates .updates-timeline .updates-timeline-block.achievement .timeline-icon {
        background-image: url(../img/update.svg); }
      .project-detail-updates .updates-timeline .updates-timeline-block.achievement h4 {
        color: #D991E4; }
      .project-detail-updates .updates-timeline .updates-timeline-block.achievement date {
        color: #A96CB2; }
      .project-detail-updates .updates-timeline .updates-timeline-block.info .timeline-icon {
        background-size: 40px 40px;
        background-image: url(../img/update.svg);
        background-color: #DFF4F3;
        border-color: #91E4E0 !important; }
      .project-detail-updates .updates-timeline .updates-timeline-block.info h4 {
        color: #408F8B; }
      .project-detail-updates .updates-timeline .updates-timeline-block.info date {
        color: #5FB9B5; }
      .project-detail-updates .updates-timeline .updates-timeline-block.start .timeline-icon {
        background-image: url(../img/rocket.svg);
        background-color: #F9E7FC;
        border-color: #D991E4 !important; }
      .project-detail-updates .updates-timeline .updates-timeline-block.start h4 {
        color: #D991E4; }
      .project-detail-updates .updates-timeline .updates-timeline-block.start date {
        color: #A96CB2; }
      .project-detail-updates .updates-timeline .updates-timeline-block.user h4 {
        color: #E49191; }
      .project-detail-updates .updates-timeline .updates-timeline-block.user date {
        color: #955656; }
      .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-img {
        display: inline-block;
        width: 15%; }
        .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-img .timeline-avatar img {
          display: inline-block;
          width: 70px;
          height: 70px;
          border: 5px solid #E49191;
          border-radius: 50%;
          background-color: #F6DBDB; }
        .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-img .timeline-icon {
          background-size: 50px 50px;
          background-repeat: no-repeat;
          background-position: center center;
          display: inline-block;
          width: 70px;
          height: 70px;
          border: 5px solid;
          border-radius: 50%; }
      .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-content {
        display: inline-block;
        font-family: "Martel Sans", sans-serif;
        width: 84%;
        vertical-align: top; }
        .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-content date {
          font-size: 16px;
          font-weight: 400; }
        .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-content h4 {
          font-size: 22px;
          font-weight: 200;
          margin: 5px 0px; }
        .project-detail-updates .updates-timeline .updates-timeline-block .updates-timeline-content p {
          font-size: 14px;
          font-weight: 300; }
  .project-detail-updates .project-detail-add-update label {
    display: block; }
  .project-detail-updates .project-detail-add-update input {
    padding: 16px;
    width: 100%; }
  .project-detail-updates .project-detail-add-update textarea {
    display: block;
    width: 100%;
    margin: 10px 0px; }

.project-detail-todos {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.16px;
  line-height: 30px;
  font-weight: 200; }
  .project-detail-todos .project-detail-todos-list {
    padding: 30px 0px 0px 0px; }
    .project-detail-todos .project-detail-todos-list .project-detail-todos-list-entry {
      min-height: 50px;
      vertical-align: top;
      box-sizing: content-box;
      padding: 15px 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.04);
      margin-bottom: 10px;
      cursor: pointer; }
