@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,300,200,600,700);
@font-face {
  font-family: Serendity;
  src: url(../../fonts/Serendity.woff); }
@font-face {
  font-family: Sunday;
  src: url(../../fonts/Sunday.otf); }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
.btn {
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  color: #49D964 !important;
  border-color: #49D964;
  background: transparent; }
  .btn:hover {
    color: #3AB151 !important;
    border-color: #3AB151;
    background: transparent; }

.btn-fill {
  border: none;
  display: inline-block;
  color: #FFFFFF !important;
  background: #49D964; }
  .btn-fill:hover, .btn-fill:focus {
    color: #FFFFFF !important;
    background-color: #3AB151; }

.btn-small {
  padding: 8px 25px; }

.btn-medium {
  font-size: 140%;
  padding: 10px 40px; }

.btn-large {
  font-size: 170%;
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

/* ==========================================================================
Mixins
========================================================================== */
/* ==========================================================================
Global Styles
========================================================================== */
*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Martel Sans", sans-serif; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: #FFFFFF;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #DDDDDD;
  text-decoration: none; }

/* ==========================================================================
Layout
========================================================================== */
.content {
  padding: 0px;
  margin: 0px; }

.container-elements {
  box-sizing: border-box;
  max-width: 1160px;
  padding: 0px 10px 20px 10px;
  margin: 0px auto; }

.main-section {
  padding: 30px 0px; }

.full-width-map {
  width: 100%;
  height: 200px; }

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-family: Sunday;
  font-size: 60px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

h2 {
  font-family: Serendity;
  font-size: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

/* ==========================================================================
Navigation
========================================================================== */
.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  width: 100%;
  color: #000000; }

header {
  padding: 0px;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #FFFFFF;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav li {
    display: inline; }
    header ul.primary-nav li a {
      color: #FFFFFF;
      margin-left: 25px; }
      header ul.primary-nav li a:hover {
        color: #DDDDDD; }
    header ul.primary-nav li .btn {
      margin-left: 10px; }
  header .header-nav {
    display: inline-block; }
  header .primary-nav {
    position: absolute;
    right: 0;
    top: 15px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  height: 650px; }
  .hero h1 {
    color: #FFFFFF;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px; }
  .hero .hero-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(10px) brightness(80%);
            filter: blur(10px) brightness(80%);
    z-index: 1; }
  .hero .hero-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .hero .hero-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

/* ==========================================================================
Detail Hero
========================================================================== */
.herodetail {
  min-height: 500px;
  position: relative;
  overflow: hidden; }
  .herodetail h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 50px; }
  .herodetail h2 {
    color: #FFFFFF;
    font-size: 40px; }
  .herodetail .herodetail-people {
    margin: 10px 0px 20px 0px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 120%; }
    .herodetail .herodetail-people p {
      margin: 0px; }
    .herodetail .herodetail-people .role {
      font-weight: 200; }
  .herodetail .herodetail-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(8px) brightness(80%);
            filter: blur(8px) brightness(80%);
    z-index: 1; }
  .herodetail .herodetail-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    z-index: 3; }
  .herodetail .herodetail-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.user-avatar {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-color: #FFFFFF;
  margin: 10px;
  height: 60px;
  width: 60px; }

.hero-content-how-it-works {
  margin: 0px auto;
  max-width: 1160px; }
  .hero-content-how-it-works .col-md-4 {
    padding-left: 22.5px;
    padding-right: 22.5px; }
  .hero-content-how-it-works .intro-feature h5 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF; }
  .hero-content-how-it-works .intro-feature p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF; }
  .hero-content-how-it-works .intro-feature .intro_step {
    height: 150px !important;
    vertical-align: center; }
  .hero-content-how-it-works .intro-feature .step-one {
    background-image: url(../img/step1@2x.png);
    background-size: 120px 131px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 120px;
    height: 131px; }
  .hero-content-how-it-works .intro-feature .step-two {
    background-image: url(../img/step2@2x.png);
    background-size: 124px 123px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 124px;
    height: 124px; }
  .hero-content-how-it-works .intro-feature .step-three {
    background-image: url(../img/step3@2x.png);
    background-size: 155px 112px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 155px;
    height: 112px; }
  .hero-content-how-it-works h1 {
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    text-shadow: none;
    font-weight: 600;
    font-size: 40px; }

/* ==========================================================================
Modals
========================================================================== */
.modal p {
  margin: 0px !important; }
.modal .center-block {
  text-align: center; }

.modal-dialog {
  width: 800px !important; }

.modal-content {
  padding: 10px;
  box-shadow: none !important;
  border-radius: 10px; }

.modal-header {
  padding: 0px 15px;
  border: none; }

.modal-body {
  padding: 15px 15px 0px 15px; }

.form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin-top: 20px;
  font-family: "Martel Sans", sans-serif;
  text-shadow: none; }

.form-subtitle {
  text-align: center;
  font-size: 14px;
  color: #929292; }

.project-form {
  width: 700px;
  margin: 0 auto; }

label {
  font-weight: 300;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
  margin: 0px; }

.hint-block {
  margin-top: 8px !important;
  font-size: 12px;
  color: #929292; }

input, textarea, select {
  font-weight: 600;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51; }

input[type="text"],
input[type="email"],
select,
textarea {
  border: none !important;
  border-radius: 0px  !important;
  background-color: #F7F7F7 !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border: none !important;
    box-shadow: none !important; }

input[type="text"],
input[type="email"],
select {
  padding: 24px 16px !important; }

textarea {
  padding: 16px !important; }

/* ==========================================================================
Category Select
========================================================================== */
.category-select input[type="radio"] {
  display: none; }

.category-select label {
  vertical-align: center;
  text-align: center;
  width: 32%;
  display: inline-block;
  background: #F7F7F7;
  padding: 20px;
  margin: 3px;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #FFFFFF; }

.category-is-selected {
  background-color: #DBF7E0 !important;
  border: solid 1px #49D964 !important; }
