@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,200,300,600,700,800,900);
@font-face {
  font-family: Serendity;
  src: url(../../fonts/Serendity.woff); }
@font-face {
  font-family: Sunday;
  src: url(../../fonts/Sunday.otf); }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
.btn, btn-success {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  color: #49D964 !important;
  border-color: #49D964;
  background: transparent; }
  .btn:hover, btn-success:hover {
    color: #FFFFFF !important;
    background-color: #49D964;
    border-color: #49D964; }

.btn-fill {
  color: #FFFFFF;
  border: solid 2px #49D964;
  border-radius: 40px;
  display: inline-block;
  background-color: #49D964; }

.btn-fill:hover, .btn-fill:focus {
  color: #FFFFFF;
  background-color: #ABFFBA;
  border-color: #ABFFBA; }

.btn-small {
  padding: 8px 40px; }

.btn-medium {
  font-size: 110%;
  padding: 10px 40px; }

.btn-large {
  font-size: 130%;
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

/* ==========================================================================
Mixins
========================================================================== */
/* ==========================================================================
Global Styles
========================================================================== */
*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Martel Sans", sans-serif; }

body, html {
  height: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: #FFFFFF;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #DDDDDD;
  text-decoration: none; }

/* ==========================================================================
Layout
========================================================================== */
.content {
  padding: 0px;
  margin: 0px;
  height: 100%; }

.container-elements {
  box-sizing: border-box;
  max-width: 1160px;
  padding: 40px 0px;
  margin: 0px auto; }

.full-page-section {
  height: 100%; }

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-family: Sunday;
  font-size: 60px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

h2 {
  font-family: Serendity;
  font-size: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

/* ==========================================================================
Navigation
========================================================================== */
.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  width: 100%; }

header {
  padding: 0px;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #FFFFFF;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav li {
    display: inline; }
    header ul.primary-nav li a {
      color: #FFFFFF;
      margin-left: 25px; }
      header ul.primary-nav li a:hover {
        color: #DDDDDD; }
    header ul.primary-nav li .btn {
      margin-left: 10px; }
  header .header-nav {
    display: inline-block; }
  header .primary-nav {
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  height: 100%; }
  .hero h1 {
    color: #FFFFFF;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(8px) brightness(90%);
            filter: blur(8px) brightness(90%);
    z-index: 1; }
  .hero .hero-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .hero .hero-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

/* ==========================================================================
Detail Hero
========================================================================== */
.herodetail {
  min-height: 500px;
  position: relative;
  overflow: hidden; }
  .herodetail h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 50px; }
  .herodetail h2 {
    color: #FFFFFF;
    font-size: 40px; }
  .herodetail .herodetail-people {
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: 500; }
    .herodetail .herodetail-people p {
      margin: 0px; }
    .herodetail .herodetail-people .role {
      font-size: 90%;
      font-weight: 300; }
  .herodetail .herodetail-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(8px) brightness(90%);
            filter: blur(8px) brightness(90%);
    z-index: 1; }
  .herodetail .herodetail-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    z-index: 3; }
  .herodetail .herodetail-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.user-avatar {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-color: #FFFFFF;
  margin: 10px;
  height: 60px;
  width: 60px; }
