@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,300,200,600,700);
@font-face {
  font-family: Serendity;
  src: url(../../fonts/Serendity.woff); }
@font-face {
  font-family: Sunday;
  src: url(../../fonts/Sunday.otf); }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 13:22:01
    Author     : DamirDiz
*/
.btn {
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  color: #49D964 !important;
  border-color: #49D964;
  background: transparent; }
  .btn:hover {
    color: #3AB151 !important;
    border-color: #3AB151;
    background: transparent; }
  .btn:focus {
    outline: 0 !important; }

.btn-fill {
  border: none;
  display: inline-block;
  color: #FFFFFF !important;
  background: #49D964; }
  .btn-fill:hover, .btn-fill:focus {
    color: #FFFFFF !important;
    background-color: #3AB151;
    outline: 0 !important; }

.btn-small {
  padding: 8px 25px; }

.btn-medium {
  font-size: 140%;
  padding: 10px 40px; }

.btn-large {
  font-size: 170%;
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

/* ==========================================================================
Mixins
========================================================================== */
/* ==========================================================================
Global Styles
========================================================================== */
*, *:after, *:before {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-size: 100%;
  font-family: "Martel Sans", sans-serif; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: #FFFFFF;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #DDDDDD;
  text-decoration: none; }

/* ==========================================================================
Bootstrap
========================================================================== */
.row {
  margin: 0px; }

.help-block {
  margin: 0px;
  padding: 0px; }

/* ==========================================================================
Layout
========================================================================== */
.content {
  padding: 0px;
  margin: 0px;
  min-height: 100%; }

.container-elements {
  box-sizing: border-box;
  max-width: 1160px;
  padding: 0px 10px 20px 10px;
  margin: 0px auto; }

.main-section {
  padding: 30px 0px; }

/* ==========================================================================
Maps
========================================================================== */
.full-width-map {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden; }

.full-width-map:before, .full-width-map:after, #map:before, #map:after {
  position: absolute;
  display: block;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  content: '';
  z-index: 5; }

.full-width-map:before {
  top: -5px;
  left: 0;
  right: 0;
  height: 5px; }

.full-width-map:after {
  right: -5px;
  top: 0;
  bottom: 0;
  width: 5px; }

#map:before {
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px; }

#map:after {
  left: -5px;
  top: 0;
  bottom: 0;
  width: 5px; }

#map {
  width: inherit;
  height: inherit;
  -webkit-transform: none !important; }

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-family: Sunday;
  font-size: 60px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

h2 {
  font-family: Serendity;
  font-size: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2); }

/* ==========================================================================
Hero
========================================================================== */
.hero, .hero-special {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  height: 500px; }
  .hero.how-it-works, .hero-special.how-it-works {
    height: 650px !important; }
  .hero h1, .hero-special h1 {
    color: #FFFFFF;
    margin-bottom: 40px; }
  .hero p.intro, .hero-special p.intro {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 2em; }
  .hero .hero-image, .hero-special .hero-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    background: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(10px) brightness(100%);
            filter: blur(10px) brightness(100%);
    z-index: 1; }
  .hero .hero-content, .hero-special .hero-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .hero .hero-content-holder, .hero-special .hero-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.hero-special {
  min-height: 400px;
  height: 400px; }
  .hero-special h1 {
    font-family: Serendity;
    font-size: 120px; }
  .hero-special .hero-image {
    background: url("../img/headerspecial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(10px) brightness(100%);
            filter: blur(10px) brightness(100%); }

/* ==========================================================================
Detail Hero
========================================================================== */
.herodetail {
  min-height: 500px;
  position: relative;
  overflow: hidden; }
  .herodetail h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 50px; }
  .herodetail h2 {
    color: #FFFFFF;
    font-size: 40px; }
  .herodetail .herodetail-people {
    margin: 10px 0px 20px 0px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 120%; }
    .herodetail .herodetail-people p {
      margin: 0px; }
    .herodetail .herodetail-people .role {
      font-weight: 200; }
  .herodetail .herodetail-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: blur(8px) brightness(100%);
            filter: blur(8px) brightness(100%);
    z-index: 1; }
  .herodetail .herodetail-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    z-index: 3; }
  .herodetail .herodetail-content-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.user-avatar {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-color: #FFFFFF;
  margin: 10px;
  height: 60px;
  width: 60px; }

.hero-content-how-it-works {
  margin: 0px auto;
  max-width: 1160px; }
  .hero-content-how-it-works .col-md-4 {
    padding-left: 22.5px;
    padding-right: 22.5px; }
  .hero-content-how-it-works .intro-feature h5 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF; }
  .hero-content-how-it-works .intro-feature p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF; }
  .hero-content-how-it-works .intro-feature .intro_step {
    height: 150px !important;
    vertical-align: center; }
  .hero-content-how-it-works .intro-feature .step-one {
    background-image: url(../img/step1@2x.png);
    background-size: 120px 131px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 120px;
    height: 131px; }
  .hero-content-how-it-works .intro-feature .step-two {
    background-image: url(../img/step2@2x.png);
    background-size: 124px 123px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 124px;
    height: 124px; }
  .hero-content-how-it-works .intro-feature .step-three {
    background-image: url(../img/step3@2x.png);
    background-size: 155px 112px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 155px;
    height: 112px; }
  .hero-content-how-it-works h1 {
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    text-shadow: none;
    font-weight: 600;
    font-size: 40px; }

.full-page-form-large, .full-page-form-medium {
  height: 100%;
  margin: 0 auto; }

.full-page-form-holder {
  position: relative;
  padding-top: 100px; }

.full-page-form-content {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 5px rgba(30, 56, 25, 0.48); }

.full-page-form-background {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/headerspecial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(10px) brightness(100%);
          filter: blur(10px) brightness(100%);
  z-index: -1; }

.form-header {
  padding-top: 10px;
  padding-bottom: 20px; }

.form-title {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  font-weight: 200;
  font-family: "Martel Sans", sans-serif;
  text-shadow: none;
  margin: 0 auto; }

.form-subtitle {
  text-align: center;
  font-size: 14px;
  color: #929292;
  margin: 0 auto; }

.project-form {
  margin: 0 auto; }

.full-page-form-medium {
  width: 450px; }
  .full-page-form-medium .full-page-form-content {
    padding: 20px 30px; }
  .full-page-form-medium .form-title  {
    width: 390px; }
  .full-page-form-medium .form-subtitle  {
    width: 390px; }
  .full-page-form-medium .project-form {
    width: 390px; }

.full-page-form-large {
  width: 700px; }
  .full-page-form-large .full-page-form-content {
    padding: 20px 30px; }
  .full-page-form-large .form-title  {
    width: 640px; }
  .full-page-form-large .form-subtitle  {
    width: 640px; }
  .full-page-form-large .project-form {
    width: 640px; }

label {
  font-weight: 300;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
  margin: 0px; }

.hint-block {
  margin-top: 8px !important;
  font-size: 12px;
  color: #929292; }

input, textarea, select {
  font-weight: 600;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select,
textarea {
  border: none !important;
  border-radius: 0px  !important;
  background-color: #F7F7F7 !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="file"]:focus,
  select:focus,
  textarea:focus {
    border: none !important;
    box-shadow: none !important; }

.form-control {
  padding: 16px;
  height: inherit; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
  padding: 16px; }

textarea {
  padding: 16px; }

input[type="file"] {
  width: 100%; }

/* ==========================================================================
Category Select
========================================================================== */
.category-select input[type="radio"] {
  display: none; }

.category-select label {
  vertical-align: center;
  text-align: center;
  width: 32%;
  display: inline-block;
  background: #F7F7F7;
  padding: 20px;
  margin: 3px;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #FFFFFF; }

.category-is-selected {
  background-color: #DBF7E0 !important;
  border: solid 1px #49D964 !important; }

/* ==========================================================================
Project Created Modal
========================================================================== */
/* ==========================================================================
Modals
========================================================================== */
.modal p {
  margin: 0px !important; }
.modal .center-block {
  text-align: center; }

.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.modal-content {
  padding: 10px;
  box-shadow: none !important;
  border-radius: 10px; }

.modal-header {
  border: none; }

.modal-body {
  border: none;
  padding: 5px 15px; }

.modal-footer {
  border: none;
  text-align: center; }

.centered-modal-text {
  text-align: center;
  font-size: 1.5em;
  padding-top: 10px; }

#project-created-modal .modal-dialog {
  width: 450px; }
#project-created-modal .modal-title {
  text-align: center;
  font-size: 4em;
  font-weight: 200; }
#project-created-modal .modal-subtitle {
  text-align: center;
  font-size: 14px;
  color: #929292;
  margin: 0px; }
#project-created-modal .reference-link {
  padding: 5px 10px !important;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  margin-bottom: 10px; }
#project-created-modal .social-icon-large {
  padding: 15px 30px; }
  #project-created-modal .social-icon-large img {
    width: 100%; }

/* ==========================================================================
To Do
========================================================================== */
.todo-list {
  width: 600px;
  margin: 0 auto; }

.todo-list-entry, .todo-list-add {
  min-height: 50px;
  vertical-align: top;
  box-sizing: content-box;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 10px; }

.todo-list-add {
  background-color: transparent; }

.todo-icon, .todo-icon-add, .todo-icon-delete, .todo-icon-edit, .todo-icon-confirm {
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.todo-icon {
  background-image: url(../img/UncheckedCheckbox.svg); }

.todo-icon-add {
  background-image: url(../img/Plus.svg); }

.todo-icon-edit {
  background-image: url(../img/Edit.svg); }

.todo-icon-confirm {
  background-image: url(../img/Checkmark.svg); }

.todo-icon-delete {
  background-image: url(../img/Delete.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 50px; }

.todo-text, .todo-text-add {
  display: inline-block;
  font-size: 2em;
  margin: 0px;
  vertical-align: top;
  line-height: 50px;
  width: 448px; }
  .todo-text textarea, .todo-text-add textarea {
    font-size: inherit;
    font-weight: inherit;
    background: inherit;
    outline: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin: 0px;
    border: 0;
    width: 100%;
    height: 100%;
    background: transparent; }
    .todo-text textarea:focus, .todo-text-add textarea:focus {
      outline: 0;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: 0; }

.todo-text-add {
  color: #4CAF50;
  cursor: pointer; }
