@import "partials/typography";
@import "partials/mixins";
@import "partials/variables";
@import "partials/colors";

.project-nav {
    
    border-top: 1px solid #d9d9de;
    border-bottom: 1px solid #d9d9de;
    
    .project-nav-holder {
        display: table; margin: 0 auto;
    }
    
    ul {
        list-style: none;
        display: inline-block;
        
        li.project-nav-item {
            box-sizing: border-box;
            padding: 25px 15px 15px 15px;
            display: inline-block;
            list-style: none;
            
            font-size: 20px;
            font-weight: $semibold;
            
            &.active {
                border-bottom: 5px solid $accent-color;
            }
        }
    }
}

.todo-count {
    background-color: $red-color;
    font-weight: $semibold;
    color: $white-color;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
}