/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.09.2015, 13:15:57
    Author     : DamirDiz
*/

@import "partials/typography";
@import "partials/mixins";
@import "partials/variables";
@import "partials/colors";

.project-box-filter {
    margin: 0 auto;
    max-width: $globalmaxwidth + $resize-padding * 2;
    padding: 0px $resize-padding * 2;
    font-size: 16px;
    
    
    span {
        padding-right: 20px;
    }
    ul {
        list-style: none;
        display: inline;

        li {
            cursor: pointer;
            padding: 2px 10px 0px 10px;
            display: inline;
            color: #49D964;
            
            &.active {
                border-radius: 13px;
                background: #49D964;
                color: white;
            }
        }
    }
}
.project-box-container {
    margin: 0 auto;
    max-width: $globalmaxwidth + $resize-padding * 2;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    padding: $resize-padding;
}

.project-box {
    box-sizing: border-box;
    max-width:($globalmaxwidth/3) - $resize-padding*2;
    min-width:200px;
    background: #F7F7F7;
    height: $projectbox-height;
    font-size: 12px;
    margin: $resize-padding;

    h1, h2 {
        font-size: 26px;
        line-height: 140%;
        color: white;
    }

    h1 {
        font-family: $title-font;
        margin:0;
    }

    h2 {
        font-family: $subtitle-font;
        margin: 7px 0 0 0;
    }
}

.project-box-header {
    height: $projectbox-image-height;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    color: white;
    
    &:hover {
        .project-box-header-imageholder {
            transform: scale(1.2);            
        }
    }
}

.project-box-header-imageholder 
{
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    @include blur($brightness: 90%);
    z-index: 1;    
    
    transition:all 0.2s ease-in-out;
    
}
.project-box-header-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: 3;    
}

.project-box-header-content-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 20px;
}

.project-box-header-category {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:100%;
    height: 2em;
    line-height: 2.2em;
    background: rgba(0,0,0, 0.3);
    padding: 0 13px;
    text-align: right;
    z-index: 2;
    font-weight: 400;
}

.project-box-body {
    color: #303030;
}

.project-box-body-description {
    padding: 0px 13px;
    line-height: 170%;
}

.project-box-body-users {
    
}

.project-box-body-avatar {
    float:left;
    border-radius: 50%;
    border: 2px solid $white;
    border-color: $white;
    margin: 10px 13px;
    height: 60px;
    width: 60px;
}

.project-box-body-user-title {
    margin: 24px 13px 2px 7px;
    font-weight: $bold;
    color: $accent-color-hover;
}

.project-box-body-user-subtitle {
    color: $grey;
}