/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.09.2015, 13:15:57
    Author     : DamirDiz
*/

.project-box-container {
    idsplay:flex;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.project-box {
    max-width:300px;
    min-width:200px;
    margin: 20px;
    background: #e5e5e5;
}