@import "partials/typography";
@import "partials/mixins";
@import "partials/variables";
@import "partials/colors";

$descriptionElementTopPadding: 30px;
$project-detail-width: 700px;

.project-detail {
    display:none;

    &.active {
        display: block;
    }
}

.project-detail-description {

    width:$project-detail-width;
    margin: 0 auto;

    .descriptionElement {
        padding: $descriptionElementTopPadding 10px 0px 10px;
    }

    p {
        font-size: 20px;
        letter-spacing: 0.16px;
        line-height: 30px;
        font-weight: $light;
    }

    figure {
        position: relative;

        .imageHolder {
            max-width: 630px;
            max-height: 354px;
            width:100%;
            margin: 0 auto;
            text-align:center;

            img {
                margin: 0 auto;
                max-height: inherit;
                max-width: inherit;
            }
        }

        .imageCaption {
            position: absolute;
            left: -172px;
            width: 150px;
            top: $descriptionElementTopPadding;
            text-align: right;
            font-size: 13px;
            line-height: 1.4;
            color: $grey;
        }
    }
    
    .project-detail-edit {
        
        margin: 20px 0px;
        
        ul {
            list-style: none;
            display: inline-block;
            width: 100%;

            li {
                cursor: pointer;
                box-sizing: border-box;
                display: inline-block;
                list-style: none;

                text-align: center;
                width: 49%;
                min-width: 100px;

                font-size: 20px;
                font-weight: $semibold;
            }
        }
    }
}

.project-detail-updates {
    //height: 500px;

    width: $project-detail-width;
    margin: $descriptionElementTopPadding auto;

    .updates-timeline {
        position: relative;
        
        &::before {
            position: absolute;
            top: 0px;
            bottom: 10px;
            left: 33px;
            width: 4px;
            background: #C3C3C3;
            content: '';
            z-index: -1;
        }

        .updates-timeline-block {
            display: block;
            margin-bottom: 20px;

            &.achievement { 
                .timeline-icon {
                    background-image: url(../img/update.svg); 
                }

                h4 { color: #D991E4; }
                date { color: #A96CB2; }
            }
            &.info { 
                .timeline-icon {
                    background-size: 40px 40px;
                    background-image: url(../img/update.svg); 
                    background-color: #DFF4F3;
                    border-color: #91E4E0 !important;
                }

                h4 { color: #408F8B; }
                date { color: #5FB9B5; }
            }
            &.start { 
                .timeline-icon {
                    background-image: url(../img/rocket.svg); 
                    background-color: #F9E7FC;
                    border-color: #D991E4 !important;
                }

                h4 { color: #D991E4; }
                date { color: #A96CB2; }
            }
            &.user { 
                h4 { color: #E49191; }
                date { color: #955656; }
            }

            .updates-timeline-img {
                display: inline-block;
                width:15%;

                .timeline-avatar {

                    img {
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        border: 5px solid #E49191;
                        border-radius: 50%;
                        background-color: #F6DBDB;
                    }
                }

                .timeline-icon {
                    background-size: 50px 50px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                    width: 70px;
                    height: 70px;

                    border: 5px solid;
                    border-radius: 50%;
                }
            }
            .updates-timeline-content {
                display: inline-block;
                font-family: $sans-serif;
                width:84%;
                vertical-align: top;

                date {
                    font-size: 16px;
                    font-weight: $semibold;
                }

                h4 {
                    font-size: 22px;
                    font-weight: $light;
                    margin: 5px 0px;
                }

                p {
                    font-size: 14px;
                    font-weight: $normal;
                }
            }
        }
    }

    .project-detail-add-update {
        label {
            display: block;
        }
        
        input {
            padding: 16px;
            width:100%;
        }

        textarea {
            display: block;
            width:100%;
            margin: 10px 0px;
        }
    }

}

.project-detail-todos {
    height: 500px;

    width:$project-detail-width;
    margin: 0 auto;

    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 30px;
    font-weight: $light;

    .project-detail-todos-list {

        padding: $descriptionElementTopPadding 0px 0px 0px;

        .project-detail-todos-list-entry {
            min-height: 50px;
            vertical-align: top;
            box-sizing: content-box;
            padding: 15px 20px;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.04);
            margin-bottom: 10px;
        }
    }
}