// Custom Fonts
@font-face {
    font-family: Serendity;
    src: url(../../fonts/Serendity.woff);
}

@font-face {
    font-family: Sunday;
    src: url(../../fonts/Sunday.otf);
}

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,200,300,600,700,800,900);

// Imports
@import "partials/typography";
@import "partials/colors";
@import "partials/buttons";
@import "partials/mixins";
@import "partials/variables";

/* ==========================================================================
Global Styles
========================================================================== */

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font: {
        size: 100%;
        family: $sans-serif;
    }
}

body, html {
    //damit 100% auf den divs funktioniert
    height: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    color: $header-nav-color;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}
a:hover, a:focus {
    color: $header-nav-color-hover;
    text-decoration: none;
}

/* ==========================================================================
Layout
========================================================================== */

.content {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.container-elements {
    box-sizing: border-box;
    max-width: $globalmaxwidth;
    padding: 0px $resize-padding 20px $resize-padding;
    margin: 0px auto;
}

.full-page-section {
    height: 100%;
    padding-top: 80px;
}

/* ==========================================================================
Typography
========================================================================== */

h1 {
    font-family: $title-font;
    font-size: $font-size-h1;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
} 

h2 {
    font-family: $subtitle-font;
    font-size: $font-size-h2;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
Navigation
========================================================================== */

.navigation {
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.fixed {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    width: 100%;
    color: #000000;
}
header {
    padding: 0px;
    position: relative;
    max-width: $globalmaxwidth;
    margin: 0 auto;
    transition: padding 300ms ease-in-out;

    a {
        color: $header-nav-color;
        font-size: $nav-font-size;

        &.login {
            margin-right: 20px;
        }
    }
    .logo {
        display: inline-block;
    }

    ul.primary-nav {
        li {
            display: inline;

            a {
                color: $header-nav-color;
                margin-left: 25px;

                &:hover {
                    color: $header-nav-color-hover;
                }
            }
            .btn {
                margin-left:10px;
            }
        }
    }
    .header-nav {
        display: inline-block;
    }
    .primary-nav {
        position: absolute;
        right: 0;
        top: 15px;
        transition: all 300ms ease-in-out;
    }
}

/* ==========================================================================
Hero
========================================================================== */

.hero {
    min-height: $full-page-section-min-height;
    position: relative;
    overflow: hidden;
    height: 100%;

    h1 {
        color: $white-color;
        margin-bottom: 40px;
    }
    p.intro {
        color: $white-color;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 80px;
    }

    .hero-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        background: url('../img/header.jpg');
        @include blur(8px);
        z-index: 1;
    }

    .hero-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%;
        height:100%;
        z-index: 3;    
    }

    .hero-content-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ==========================================================================
Detail Hero
========================================================================== */

.herodetail {
    min-height: $herodetail-height;
    position: relative;
    overflow: hidden;

    h1 {
        color: $white-color;
        margin-bottom: 30px;
        font-size: 50px;
    }
    h2 {
        color: $white-color;
        font-size: 40px;
    }

    .herodetail-people {
        margin-top: 40px;
        color: $white-color;
        font-weight: $semibold;

        p {
            margin:0px;
        }
        .role {
            font-size:90%;
            font-weight:$light;
        }
    }

    .herodetail-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:$herodetail-height;
        @include blur(8px);
        z-index: 1;
    }

    .herodetail-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%;
        height:$herodetail-height;
        z-index: 3;    
    }

    .herodetail-content-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.user-avatar {
    border-radius: 50%;
    border: 2px solid $white-color;
    border-color: $white-color;
    margin: 10px;
    height: 60px;
    width: 60px;
}
