// Custom Fonts
@font-face {
    font-family: Serendity;
    src: url(../../fonts/Serendity.woff);
}

@font-face {
    font-family: Sunday;
    src: url(../../fonts/Sunday.otf);
}

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,300,200,600,700);

// Imports
@import "partials/typography";
@import "partials/colors";
@import "partials/buttons";
@import "partials/mixins";
@import "partials/variables";

/* ==========================================================================
Global Styles
========================================================================== */

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font: {
        size: 100%;
        family: $sans-serif;
    }
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    color: $header-nav-color;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}
a:hover, a:focus {
    color: $header-nav-color-hover;
    text-decoration: none;
}

/* ==========================================================================
Layout
========================================================================== */

.content {
    padding: 0px;
    margin: 0px;
}

.container-elements {
    box-sizing: border-box;
    max-width: $globalmaxwidth;
    padding: 0px $resize-padding 20px $resize-padding;
    margin: 0px auto;
}

.main-section {
    padding: 30px 0px;
    
}

/* ==========================================================================
Maps
========================================================================== */


.full-width-map {
    width:100%;
    height:200px;
    position: relative;
    overflow: hidden;
}

.full-width-map:before, .full-width-map:after, #map:before, #map:after {
    position: absolute;
    display: block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 5;
}

.full-width-map:before { top: -5px; left: 0; right: 0; height: 5px; }
.full-width-map:after { right: -5px; top: 0; bottom: 0; width: 5px; }
#map:before{ bottom: -5px; left: 0; right: 0; height: 5px; }
#map:after { left: -5px; top: 0; bottom: 0; width: 5px; }

#map {
    width: inherit;
    height: inherit;
    -webkit-transform:none !important;
}

/* ==========================================================================
Typography
========================================================================== */

h1 {
    font-family: $title-font;
    font-size: $font-size-h1;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
} 

h2 {
    font-family: $subtitle-font;
    font-size: $font-size-h2;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
Navigation
========================================================================== */

.navigation {
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.fixed {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    width: 100%;
    color: #000000;
}
header {
    padding: 0px;
    position: relative;
    max-width: $globalmaxwidth;
    margin: 0 auto;
    transition: padding 300ms ease-in-out;

    a {
        color: $header-nav-color;
        font-size: $nav-font-size;

        &.login {
            margin-right: 20px;
        }
    }
    .logo {
        display: inline-block;
    }

    ul.primary-nav {
        li {
            display: inline;

            a {
                color: $header-nav-color;
                margin-left: 25px;

                &:hover {
                    color: $header-nav-color-hover;
                }
            }
            .btn {
                margin-left:10px;
            }
        }
    }
    .header-nav {
        display: inline-block;
    }
    .primary-nav {
        position: absolute;
        right: 0;
        top: 15px;
        transition: all 300ms ease-in-out;
    }
}

/* ==========================================================================
Hero
========================================================================== */

.hero {
    min-height: $full-page-section-min-height;
    position: relative;
    overflow: hidden;
    height: 650px;

    h1 {
        color: $white-color;
        margin-bottom: 40px;
    }
    p.intro {
        color: $white-color;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .hero-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        background: url('../img/header.jpg');
        @include blur(10px);
        z-index: 1;
    }

    .hero-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%;
        height:100%;
        z-index: 3;    
    }

    .hero-content-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ==========================================================================
Detail Hero
========================================================================== */

.herodetail {
    min-height: $herodetail-height;
    position: relative;
    overflow: hidden;

    h1 {
        color: $white-color;
        margin-bottom: 30px;
        font-size: 50px;
    }
    h2 {
        color: $white-color;
        font-size: 40px;
    }

    .herodetail-people {
        margin: 10px 0px 20px 0px;
        color: $white-color;
        font-weight: $semibold;
        font-size: 120%;

        p {
            margin:0px;
        }
        .role {
            font-weight:$light;
        }
    }

    .herodetail-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height:$herodetail-height;
        @include blur(8px);
        z-index: 1;
    }

    .herodetail-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%;
        height:$herodetail-height;
        z-index: 3;    
    }

    .herodetail-content-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.user-avatar {
    border-radius: 50%;
    border: 2px solid $white-color;
    border-color: $white-color;
    margin: 10px;
    height: 60px;
    width: 60px;
}

.hero-content-how-it-works {

    margin: 0px auto;
    max-width: $globalmaxwidth;
    
    .col-md-4 {
        padding-left: 22.5px;
        padding-right: 22.5px;
    }
    
    .intro-feature {
        
        h5 {
            text-align: center;
            font-weight: $light;
            font-size: 20px;    
            color: $white-color;
        }

        p { 
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: $white-color;
        }

        .intro_step {
            height:150px !important;
            vertical-align: center;
        }

        .step-one {
            background-image: url(../img/step1@2x.png);
            background-size: 120px 131px;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 120px;
            height: 131px;
        } 

        .step-two {
            background-image: url(../img/step2@2x.png);
            background-size: 124px 123px;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 124px;
            height: 124px;
        }        

        .step-three {
            background-image: url(../img/step3@2x.png);
            background-size: 155px 112px;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 155px;
            height: 112px;
        }    
    }

    h1 {
        font-family: $sans-serif;
        text-align: center;
        text-shadow: none;
        font-weight: $bold;
        font-size: 40px;
    }
}

/* ==========================================================================
Detail Content
========================================================================== */

.project-detail-description {
    padding:50px;
    background: $lightgrey-color;
}

.project-detail-description-image {
    img {
        width: 100%;
    }
}
.project-detail-description-text {
    font-size: 18px;
    line-height: 28px;
}

.form-title {
    text-align: center;
    font-size: 30px;
    font-weight: $light;
    margin-top:20px;
    font-family: $sans-serif;
    text-shadow: none;
}

.form-subtitle {
    text-align: center;
    font-size: 14px;
    color: $grey-color;

}

.project-form {
    width: 700px;
    margin: 0 auto;
}

label {
    font-weight: $normal;
    font-family: $sans-serif;
    font-size: 1.6rem;
    color: #2b3e51;
    margin: 0px;
}

.hint-block {
    margin-top: 8px !important;
    font-size: 12px;
    color: $grey-color;

}

input, textarea, select {
    font-weight: $bold;
    font-family: $sans-serif;
    font-size: 1.6rem;
    color: #2b3e51;
}

input[type="text"], 
input[type="email"], 
select,
textarea {
    border:none !important;
    border-radius: 0px  !important;
    background-color: $lightgrey-color  !important;
    appearance: none;
    box-shadow: none;
    
    &:focus {
        border: none !important;
        box-shadow: none !important;
    }
}

input[type="text"], 
input[type="email"], 
select {
    padding: 24px 16px !important;
    //appearance: none;
    &:focus {
    }
}
textarea {
    padding: 16px !important;
} 

/* ==========================================================================
Category Select
========================================================================== */
.category-select input[type="radio"] {
    display:none; 
}

.category-select label {
    vertical-align: center;
    text-align: center;
    width:32%;
    display:inline-block;
    background: $lightgrey-color;
    padding:20px;
    margin:3px;
    font-size:16px;
    cursor: pointer;
    border: solid 1px $white-color;
}

.category-is-selected {
        background-color: #DBF7E0 !important;
        border: solid 1px #49D964 !important;
}

/* ==========================================================================
Project Created Modal
========================================================================== */


/* ==========================================================================
Modals
========================================================================== */
.modal {
    
    top: 50%;
    transform: translateY(-50%);
    
    p {
        margin: 0px !important;
    }
    
    .center-block {
        text-align: center;
    }
}

.modal.fade:not(.in) .modal-dialog {
    transform: translate3d(0, 0, 0);
}


.modal-content {
    padding: 10px;
    box-shadow: none !important;
    border-radius: 10px;
}

.modal-header {
    border: none;
}
.modal-body {
    border: none;
}
.modal-footer {
    border: none;
    text-align: center;
}


#project-created-modal {
    .modal-title {
        text-align: center;
        font-size: 4em;
        font-weight: $light;
    }
    
    .modal-subtitle {
        text-align: center;
        font-size: 14px;
        color: $grey-color;
        margin: 0px;
    }
}