// Imports
@import "partials/typography";
@import "partials/colors";
@import "partials/buttons";
@import "partials/mixins";
@import "partials/variables";


/* ==========================================================================
Vertical Nav
========================================================================== */

#vertical-nav {
    position: fixed;
    right: 40px;
    @include center(y); // see partials > _mixins.scss
    z-index: 4;

    li {
        text-align: right;
    }

    a {
        display: inline-block;
        //@include clearfix;

        /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
        backface-visibility: hidden;

        span {
            float: right;
            display: inline-block;
            transform: scale(.6);
        }

        &:hover span {
            transform: scale(1);

        }

        &:hover .vn-label {
            opacity: 1;
        }

        &.is-selected .vn-dot {
            background-color: $color-4;
        }
    } 

    .vn-dot {
        position: relative;
        /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
        top: 8px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #BBB;
        transition: transform 0.2s, background-color 0.5s;
        transform-origin: 50% 50%;
    }

    .vn-label {
        position: relative;
        margin-right: 10px;
        padding: 0.5em 0.5em 0.3em 0.5em;
        line-height:14px;
        background: rgba(0,0,0,0.8);
        border-radius: 5px;
        color: $white-color;
        font-size: 14px;
        transition: transform 0.2s, opacity 0.2s;
        opacity: 0;
        transform-origin: 50% 50%;
    }
}
