// Buttons partial

@import "colors";

.btn {
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    color: $accent-color !important; 
    border-color: $accent-color;
    background: transparent;
    
    &:hover {
        color: $accent-color-hover !important;
        border-color: $accent-color-hover;
        background: transparent;
    }
    
    &:focus {
        outline:0 !important;
    }

}

.btn-fill {
    border: none;
    display: inline-block;
    color: $white !important; 
    background: $accent-color;
    
    &:hover, &:focus {
        color: $white !important;
        background-color: $accent-color-hover;
        outline:0 !important;
    }
}

.btn-small {
    padding: 8px 25px;
}

.btn-medium {
    font-size: 140%;
    padding: 10px 40px;
}

.btn-large {
    font-size: 170%;
    padding: 15px 40px;
}
.btn-margin-right {
    margin-right: 20px;
}