// Colours partial

$header-nav-color: #FFFFFF;
$header-nav-color-hover: #DDDDDD;

$accent-color: #49D964;
$accent-color-hover: #3AB151;

$white-color: #FFFFFF;
$red-color: #D0021B;
$grey-color: #929292;
$lightgrey-color: #F7F7F7;

$color-1: #2b3e51; // Pickled Bluewood
$color-2: #2c97de; // Curious Blue
$color-3: #ecf0f1; // Porcelain
$color-4: #ffffff; // White
$color-5: #e94b35; // Cinnabar