
/* ==========================================================================
Mixins
========================================================================== */

@mixin blur($blur: 5px) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: scale(1.1);
    filter: blur($blur) brightness(90%);
}