
$globalmaxwidth: 1160px;
$full-page-section-min-height: 500px;
$herodetail-height: 500px;

$projectbox-height: 500px;
$projectbox-image-height: 250px;
$projectbox-body-height: 250px;
$resize-padding: 10px;
