
$globalmaxwidth: 1160px;
$herodetail-height: 500px;
$herospecial-height: 400px;

$form-width-large: 700px;
$form-padding-vertical-large: 40px;
$form-padding-horizontal-large: 20px;

$form-width-medium: 450px;
$form-padding-vertical-medium: 40px;
$form-padding-horizontal-medium: 20px;

$projectbox-height: 450px;
$projectbox-image-height: 220px;
$projectbox-body-height: 250px;
$resize-padding: 10px;
